*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
    padding: 0;
    color: #181818;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

span {
    display: block;
    font-size: 10px;
    text-align: center;
}

#form {
    background-color: #ecf0f3;
    width: 279px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    box-shadow: -5px 5px 10px #d1d9e6, 4px 4px 10px #f9f9f9;
}

input {
    background-color: #ecf0f3;
    padding: 12px 57px;
    border: transparent;
    border-radius: 30px;
    color: #212425;
    margin: 12px 0;
    font-family: "Montserrat", sans-serif;
    outline: none;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

button {
    padding: 10px 20px;
    background-color: #4b70e2;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    display: flex;
    z-index: 2;
    overflow: hidden;
    color: #f9f9f9;
}


button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.9s;
  }

button:hover::before {
    transform: skewX(45deg) translateX(-150px);
  }

